
html {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #030008;
    color: white;
    background-image: linear-gradient(to bottom, #030008 80%, rgb(44, 1, 44));
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.wrap_all {
    min-height: 100vh;
    width: 75em;
    max-width: 100%;
    /* background-image: linear-gradient(to bottom, #030008 80%, rgba(107, 0, 107, 0.274)); */
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav i {
    font-size: 1.4em;
}

.robot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_wrap {
    width: 30em;
    max-width: 70%;
}

.start {
    text-align: center;
    padding: 10px;
}

.start p {
    font-size: 16px;
}

.start h3 {
    font-size: 26px;
    color: #6237FF;
    font-weight: 600;
}

.start_card {
    background-color: #161128;
    border: 3px solid rgb(28,28,28);
    border-radius: 15px;
    padding: 1em 1.5em;
    min-height: 30em;
    width: 20em;
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.top .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(55,60,68);
    margin: auto;
}

.icon i {
    font-size: 2.5em;
    color: #6237FF;
}

.top p {
    font-size: 16px;
    margin-top: 10px;
}

.input_wrap {
    position: relative;
}

.input_wrap span {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(100%, -50%);
    font-size: 1.7em;
}

.top input {
    position: relative;
    color: #6237FF !important;
    padding: 15px 25px;
    font-size: 30px;
    font-weight: 600;
    width: 6.5em;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(128,128,128);
    border-radius: 0;
}
input::-webkit-inner-spin-button {
    appearance: none;
}

.top input::placeholder {
    font-size: .8em !important;
}

.top input:focus,
.top input:valid {
    background-color: transparent;
    box-shadow: none !important;
 }

.top input::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 700%);
    width: 150px;
    height: 2px;
    background-color: rgb(128,128,128);
}

.trades button {
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 8px;
    background-color: #0f0;
    color: #111;
    font-weight: 700;
}

.trades button.deactivate {
    padding: 15px;
    display: block;
    width: 100%;
    border-radius: 8px;
    background-color: #f00;
    color: white;
    font-weight: 600;
}

.no_activate_icon {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: .5s;
}

.trades button.active .activate_icon {
    display: inline;
    opacity: 1;
    visibility: visible;
    transition: .5s;
    position: absolute;
    vertical-align: middle;
    font-size: 1.4em;
    line-height: 0;
    margin-left: 10px;
    color: #161128;
    animation: spin 1s 0s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.act {
    transition: .5s ease;
    margin-left: 0px;
}

.trades button.active .act {
    transition: .5s ease;
    margin-left: -20px;
}

.nav-link {
    background-color: rgb(128,128,128) !important;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.nav-link.active {
    background-color: #6237FF !important;
    color: #222 !important;
}

.full p {
    width: fit-content;
}

.full p button {
    padding: 13px;
    display: block;
    width: 100%;
    border-radius: 8px;
    background-color: #6237FF;
    color: white;
}

.value {
    color: #6237FF;
}

@media screen and (max-width: 500px) {
    .nav h4 {
        font-size: 17px;
    }

    .nav-link {
        font-size: 12px;
    }

    .text {
        font-size: 13px;
    }

    .full p button {
        padding: 13px;
        font-size: 13px;
    }
}